job-eventgroup-modal {
	ion-content{
		padding: 16px 0px !important; 
		.scroll-content {
		    padding: 16px 0px !important;
		}
	}

	.new-contact-header{
		background-color: transparent;
		border-bottom: 1px solid rgba(58, 64, 91, 0.1);
		.item-inner{
		text-align: center;
			border-bottom: 0px !important;
		}

		ion-label{
			color: $title-font-color;
			font-size: $content-big-font;
			font-weight: bold;
		}

		ion-icon{
			font-size: $title-big-font;
		}
	}

		form{
			.address-item{
				margin-left: 16px;
				width: calc(100% - 16px);
				width: -webkit-calc(100% - 16px);
				border-bottom: 1px solid rgba(58, 64, 91, 0.1) !important;
				.address-label{
					color: $title-font-color;
					font-size: $content-small-font;
					margin-bottom: 4px;
					margin-top: 10px;
					text-align: left !important;
				}
				.address-input{
					margin-top: 8px;
					margin-bottom: 6px;
					width: 100%;
					color: $title-font-color;
					font-size: $content-medium-font;

				}
			}
			
			ion-item{
				.item-inner{
					border-bottom: 1px solid rgba(58, 64, 91, 0.1) !important;
					box-shadow: none !important;
				}

				ion-label{
					color: $title-font-color;
					font-size: $content-small-font;
				}
				ion-input, ion-datetime, ion-select{
					color: $title-font-color;
					font-size: $content-medium-font;
				}
			}
		}
	

	.save-bt{
		width: 100%;
		position:fixed;
		bottom : 0px;
		left: 0px;
		height: 13vw;
		background-color: #2A2E42;
		z-index: 100;
		color: white;
		font-size: $content-medium-font;
		font-weight: bold;
		letter-spacing: 2px;
	}

	group-events {
		margin-top: 3vw;
		margin-bottom: 13vw;
		display: block;
	}
	

}
