page-login {
	ion-content{
		// background-color: rgba(41, 46, 66, 0.55) !important;
		background-image: url('../assets/login/loginbg.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		.scroll-content{
			background-color: rgba(42, 46, 66, 0.55);
		}
	}

	#login-spacer1{
		height: 15vh;
	}
	
	.logo-img{
		img{
			display:block;
			width:25%;
			max-width: 130px;
			height:auto;
			margin-left:auto;
			margin-right:auto;
		}
	}

	#login-heading1{
		color:#fff;
		text-align:center;
		font-weight: bold;
		font-size : $title-big-font;
		margin: 5vh 0px 13vh 0px;
	}
	#login-form {
		padding : 2vh 6%;
		ion-item{
			border-radius: 100px;
			background-color: rgba(255,255,255, 0.1);
			margin-bottom: 2.5vh;
			height: 10vw;
			max-height: 80px;
			input {
				color : white;
			}
			.item-inner{
				border-bottom: none;
				box-shadow: none;
			}
			ion-input{
				font-size: $content-medium-font;
			}
			ion-icon{
				// font-size: $content-medium-font;
				color: rgba(255, 255, 255, 0.5);
			}
		}

		#login-button1{
			border-radius: 100px;
			background-color: #FFFFFF;
			margin-bottom: 5vh;
			height: 10vw;
			max-height: 80px;
			color: $content-font-color;
			font-weight: bold;
			letter-spacing: 1px;
			font-size : $content-medium-font;
		}

		#login-button2{
			font-size : $content-medium-font;
			color: #FFFFFF;
			float: right;
		}
	}
}








