page-contact-add {
	ion-content{
		padding: 16px 0px !important; 
		.scroll-content {
		    padding: 16px 0px !important;
		}
	}

	.new-contact-header{
		background-color: transparent;
		border-bottom: 1px solid rgba(58, 64, 91, 0.1);
		.item-inner{
		text-align: center;
			border-bottom: 0px !important;
		}

		ion-label{
			color: $title-font-color;
			font-size: $content-big-font;
			font-weight: 600;
		}

		ion-icon{
			font-size: 12vw;
			font-weight: 600;
		}
	}	

	.contact-form{
		margin-bottom: 14vw;
		ion-item{

			.item-inner{
				border-bottom: 1px solid rgba(58, 64, 91, 0.1) !important;
			}

			ion-label{
				color: $title-font-color !important;
				font-size: $content-small-font;
			}
			ion-input{
				color: $title-font-color !important;
				font-size: $content-medium-font !important;
			}
		}

		ion-select {
			color: $title-font-color !important;
			font-size: $content-medium-font !important;
		}

		ion-datetime {
			color: $title-font-color !important;
			font-size: $content-medium-font !important;
		}

		.important-date{
			ion-label{
				margin-bottom: 0px !important;
			}
			p{
				color: $title-font-color !important;
				font-size: $content-medium-font !important;
				font-weight: bold;
			}
		}
	}

	.save-bt{
		width: 100%;
		position:fixed;
		bottom : 0px;
		left: 0px;
		height: 14vw;
		max-height: 80px;
		background-color: #2A2E42;
		z-index: 100;
		color: white;
		font-size: $content-medium-font;
		font-weight: bold;
		letter-spacing: 2px;
	}

	

}
